.admin-panel{
    height: 100vh;
    width: 25vw;
    background-color: red;
}

.admin-panel img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.logo-container{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin-left: 5px;
}

.item-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.item-container button{
    width: 90%;
    background-color: #007bff;
    margin: 1px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}

.help-docs{
    margin-top: 196px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: end;
}

.help-docs img{
    width: 30px;
    height: 30px;
}