.parent{
    height: 100vh;
    width: 100%;
    background-color: rgb(12, 12, 12);
    display: flex;
    align-items: center;
}

.home{
    height: 100vh;
    width: 950px;
    background-color: rgb(20, 193, 223);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.panel{
    height: 100vh;
    width: 416px;
    background-color: rgb(6, 37, 141);
}
