.login-page{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #f0f2f5;
}

.login-container{
    height: 370px;
    width: 620px;
    padding: 30px;
    background-color: #ca0e0e;
    border-radius: 8px;
    margin-bottom: 2rem;
    /* align-items: center; */
    justify-content: center;
    display: flex;
}

input{
    width: 270px;
    height: 40px;
    margin-bottom: 20px;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button{
    margin-top: 35px;
    margin-bottom: 60px;
    width: 100%;
    height: 40px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

h2{
    color: white;
    margin-bottom:40px;
    text-align: center;
}